* {
  box-sizing: border-box;
}

/* centrage de la page */
body {
  font-family: "Raleway", serif;
  max-width: 1440px;
  margin: auto;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway.ttf");
}

/* à supprimer ? */
header {
  margin: 0 2px;
}

/* box-sizing: border-box; */
/* à supprimer ? */
.imgfilter {
  display: flex;
  font-size: 5%;
}
/******************header********************/
.theheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

/*menu + s'inscrire"*/
.menuregister {
  display: flex;
  align-items: center;
}

/*bouton s'inscrire*/
.register {
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
}
nav li {
  margin-right: 30px;
} /*écarts enre les mots*/

nav a {
  text-decoration: none;
}

ul li a:hover {
  color: #0065fc;
}

nav a:visited {
  color: black;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  padding: 2rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: black;
}

.menu li:hover {
  border-top: 3px solid#0065FC;
}

.topsearch {
  padding: 20px;
}
/********** section recherche**********/
.research {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1rem;
  font-family: "Raleway", serif;
  letter-spacing: 1.4pt;
  min-width: 48px;
}

.research_icon {
  display: none;
}

.textcity {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 1rem;
  font-family: "Raleway", serif;
}

.search {
  display: flex;
  margin-bottom: 1.4rem;
  margin-top: 1.3rem;
  height: 48px;
}

.label_input {
  position: relative;
  border-radius: 1rem 0 0 1rem;
  background-color: #f2f2f2;
  width: 48px;
}
#gps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********** les filtres **********/
.filters {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* à supprimer ? */
.filters {
  display: flex;
  /*border: red solid 3px; */
}

.filters h2 {
  margin-right: 3rem;
}
.button_icon {
  display: flex;
  height: 3rem;
  width: 3rem;
  background-color: #deebff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  font-size: 1.2rem;
}

.button_filters {
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-right: 2rem;

  font-weight: bold;
  display: flex;
  height: 3rem;
}

.visual {
  display: inline-block;
  height: 1.5rem;
}

.filter_text {
  padding: 1rem;
  letter-spacing: 1pt;
}
/* à supprimer ? */
.imgfilter {
  width: 15px;
}
/**********  **********/
.infologo {
  border-radius: 100%;
  border: 10px solid #f2f2f2;
  margin-right: 1.4rem;
  color: #0065fc;
}

.infos {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.button:hover {
  background-color: indianred;
}

/*main*/

.button:hover {
  background-color: mediumslateblue;
}

@media (min-width: 768px) {
  .sleep {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/********** infos communes hébergements + populaires **********/
.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 0.3rem;
  box-shadow: 2px 2px 3px rgba(202, 191, 191, 0.589);
  text-decoration: none;
  color: black;
  width: 30%;   
}

h3 {
  font-size: 17px;
}
.card_infos {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 60%;
padding: 16px;
}

.card_infos h3 {
  margin: 0;
}

.card_infos_price {
  margin: 0;
  margin-top: 6px;
}
.super_stars {
  display: flex;
}
.grey_stars {
  color: #f2f2f2;
  padding-left: 0.3rem;
}
/********** section Hébergements à Marseille **********/
#accommodation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  padding: 20px;
  flex: 1; /*test*/
  height: auto;
  border-radius: 20px;
  background-color: #f2f2f2;
  width: 865px;
}

/* ensemble des fiches hébergements à Marseille */
.acco_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.acco_card_infos {
  padding: 16px;
}

.acco_card_infos h3,
.acco_card_infos p {
  margin: 0;
  margin-bottom: 6px;
  }

#accommodation .card {
  flex-direction: column;  
}

#accommodation a{
  width: calc(30% - 30px);
}
.card_photo {
  height: 130px;
  width: 100%;
  overflow: hidden;
  display: block;
}

.card_photo img {
  border-radius: 20px 20px 0 0;
  width: 100%;  
  height: 100%;
  object-fit: cover;
}

/********** section Les plus populaires **********/
#popular {
  background-color: #f2f2f2;
  padding: 1.5rem;
  width: 405px;
}
/* étoiles populaires */
.stars i {
  color: #0065fc;
}
@media (min-width: 768px) {
  #popular {
    border-radius: 20px;
    padding: 30px;
    margin-left: 30px;
  }
}
.popular_title {
  display: flex;
  justify-content: space-between;
}

#popular .card {
  width: 100%;
  height:160px;

}

.popular_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.popular_photo {
  width: 40%;
}

/********** section Activités à Marseille **********/
#activities {
  /* display: flex; */
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#activities a{
  color: inherit;
  text-decoration: none;
}

.activities_photos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* inutile ?
.card2photos {
  width: 300px;
} */

img.card2photos {
  border-radius: 20px 20px 0 0;
}

.card2 {
  border-radius: 20px;
  /*width: 300px;*/
  box-shadow: 2px 2px 1px #f2f2f2;
}

.card_name {
  width: 300px;
  height: 35px;
  margin-bottom: 40px;
  padding-left: 15px;
  
}

/*
.card_link {
  text-decoration: none;
  color: black;
  width: 31%;
} */

.column1 img {
  width: 300px;
  height: 390px;
  object-fit: cover;
}

.column2 .column4 {
  display: flex;
}

.pomegues {
  width: 300px;
  height: 160px;
  object-fit: cover;
}

.frioul {
  width: 300px;
  height: 132px;
  object-fit: cover;
}
.column3 img {
  width: 300px;
  height: 390px;
  object-fit: cover;
}

.garde {
  width: 300px;
  height: 145px;
  object-fit: cover;
}

.longchamp {
  width: 300px;
  height: 147px;
  object-fit: cover;
}
/********** footer **********/
.blocfinal {
  display: flex;
  background-color: #f2f2f2;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: black;
  margin: 3px;
}

.links {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.title_links {
  font-weight: bold;
}

/* tablettes */
/*@media (max-width:991px){ }
*/

/********** Adaptation aux grands écrans **********/
@media screen and (min-width: 1200px) {
}

/********** Adaptation aux tablettes et petits ordis **********/
@media screen and (min-width: 768px) and (max-width: 979px) {
}

/********** Adaptation aux tablettes **********/
@media screen and (max-width: 767px) {
}

/********** Adaptation aux smartphones **********/
@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }

  .menuregister {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
  }

  .menu {
    width: 100%;
  }

  .menu li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 50%;
  }

  .menu li:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }

  .header_nav {
    order: 1;
  }

  .infos p {
    display: flex;
    flex-wrap: wrap;
  }

  .accommodation {
    width: 50%;
  }

  .activities {
    width: 50%;
  }

  .card2 {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .search {
    width: 100%;
  }

  .research_text {
    display: none;
  }

  .research_icon {
    display: block;
  }

  .filters {
    flex-wrap: wrap;
  }

  .button_filters {
    margin-bottom: 15px;
  }

  #popular {
    width: 100%;
  }

  /*.card_photo img{
    max-width: 100%;
    height: auto;
  } */

  #accommodation {
    background-color: white;
    width: 100%;
  }
  .accommodation_title {
    width: 100%;
  }

  .displaymore {
    width: 100%;
    margin-left: 1rem;
  }

  .acco_cards {
    flex-direction: column;
    width: 100%;
  }

 
/*
  .card_link {
    width: 100%;
  }
*/
  #activities {
    width: 100%;
    height: auto;
  }
  .activities_photos {
    flex-direction: column;
  }

  .blocfinal {
    flex-direction: column;
  }

  .links {
    width: 100%;
  }
}
